@inherits TournamentDetailsBase
@using Common
@inject IStringLocalizer<Resource> localizer

<div class="row">
    <h2>@Tournament.Name</h2>
</div>
<div class="row">
    @foreach (var round in Tournament.Rounds)
    {
        <div>
            <h3>@localizer["roundNr"]: @round.Name</h3>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        @foreach (var player in Tournament.Players)
                        {
                            <th scope="col">@player.Name</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in Tournament.Players)
                    {
                        <tr>
                            <th scope="row">@player.Name</th>
                            @foreach (var versusPlayer in Tournament.Players)
                            {
                                @if (player.Id != versusPlayer.Id)
                                {
                                    var matchup = round.GetMatchupForPlayers(player.Id, versusPlayer.Id);
                                    @if(matchup != null && matchup.WinnerPlayer != null)
                                    {
                                        <td @onclick="() => Open(player, versusPlayer, round.Id)" class="@(matchup.WinnerPlayer.Id == player.Id ? "bg-success" : "bg-danger")"></td>
                                    } else
                                    {
                                        <td @onclick="() => Open(player, versusPlayer, round.Id)"></td>
                                    }
                                }
                                else
                                {
                                    <td class="bg-dark bg-opacity-25"></td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<CapFive.Web.Pages.Common.Modal @ref="_modal">
    <Title>@localizer["chooseWinner"]</Title>
    <Body>
        <div class="row">
            <div class="col-md-6 col-sm-12" align="center">
                <input type="radio" 
                    class="btn-check" 
                    name="options-outlined" 
                    id="p1-select" 
                    @onchange="@(() => SelectWinner(PlayerOne))"
                    checked="@(Winner != null && PlayerOne?.Id == Winner?.Id)"
                >
                <label class="btn btn-outline-success" for="p1-select">@PlayerOne?.Name</label>
            </div>
            <div class="col-md-6 col-sm-12" align="center">
                <input type="radio" 
                    class="btn-check" 
                    name="options-outlined"
                    id="p2-select" 
                    @onchange="@(() => SelectWinner(PlayerTwo))"
                    checked="@(Winner != null && PlayerTwo?.Id == Winner?.Id)"
                >
                <label class="btn btn-outline-success" for="p2-select">@PlayerTwo?.Name</label>
            </div>
        </div>
    </Body>
    <Footer>
        <div class="col-12" align="center">
            <button type="button" class="btn btn-primary" @onclick="() => SaveGame()">@localizer["save"]</button>
        </div>
    </Footer>
</CapFive.Web.Pages.Common.Modal>