@inherits TournamentFormBase
@using Common
@inject IStringLocalizer<Resource> localizer

<h3>@localizer["tournamentDetails"]</h3>

<EditForm Model="@Tournament" OnSubmit="@FormSubmited" Context="formContext">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="Name">@localizer["tournamentName"]</label>
                <InputText @bind-Value=Tournament.Name class="form-control" id="Name" />
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="Date">@localizer["tournamentDate"]</label>
                <InputDate @bind-Value=Tournament.Date class="form-control" id="Date" />
            </div>
        </div>
    </div>
    <div>
        <div>@localizer["selectedPlayers"]</div>
        @foreach (var selectedPlayer in Tournament.Players)
        {
            <div class="row">
                <span>
                    <span class="text-danger" @onclick="() => UnselectPlayer(selectedPlayer)">
                        <i class="bi bi-dash-circle"></i>
                    </span>
                    <span>@selectedPlayer.Name</span>
                </span>
            </div>
        }
    </div>
    <div>
        <div>@localizer["availablePlayers"]</div>
        @foreach (var playerToSelect in AllPlayers)
        {
            if(!playerToSelect.IsSelected)
            {
                <div class="row">
                    <span class="m-1">
                        <span class="text-success" @onclick="() => SelectPlayer(playerToSelect)">
                            <i class="bi bi-plus-circle"></i>
                        </span>
                        <span>@playerToSelect.Player.Name</span>
                    </span>
                </div>
            }
        }
    </div>
    <div class="mt-2">
        <input type="submit" class="btn btn-primary" value="@localizer["save"]" />
        @if(Tournament.Id > 0 && Tournament.Players?.Count > 0)
        {
            <span class="ms-1">
                <input type="submit" class="btn btn-success" value="@localizer["startTournament"]" @onclick="() => StartTournament(formContext)" />
            </span>
        }
    </div>
</EditForm>